<h1>My first SPA</h1>



<div class="box">
    <a [routerLink]= "['/']">Home</a>
    <a [routerLink]= "['/maltese']">Dog</a>
    <button type="button" [routerLink]="['/polar-bear']" >Polar Bear</button>

</div>

<div class="box">
  <form>
    <table>
      <tr>
        <td>Name:</td>
        <td>
          <input type="text">
        </td>
      </tr>
      <td>
        <tr>
          <button type="submit">Add</button>
        </tr>
      </td>
    </table>
  </form>
</div>
<div class="box">
  <router-outlet></router-outlet>
</div>