<form [formGroup]="form" (ngSubmit)="save()">
    <table>
        <tr>
            <td>Name: </td>
            <td>
                <input type="text" formControlName="name">
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" formControlName="email"></td>
        </tr>
        <tr>
            <td></td>
            <td>
              <div class="apart">
                <button type="submit">Save</button>
                <button type="button" (click)="addTasks()">Add</button>
              </div>
            </td>
          </tr>
    </table>

    <table *ngIf="taskArray.length > 0">
        <thead>
            <tr>
                <th>Tasks</th>
                <th>Priority</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody formArrayName="tasks">
            <tr *ngFor="let task of taskArray.controls; let i = index" [formGroupName]="i">
                <td>
                    <input type="text" formControlName="task">
                </td>
                <td>
                    <select formControlName="priority">
                        <option value="LOW">LOW</option>
                        <option value="MEDIUM">MEDIUM</option>
                        <option value="HIGH">HIGH</option>
                    </select>
                </td>
                <td>
                    <input type="date" fromControlName="dueDate">
                </td>
                <td>
                    <button type="button" (click)="deleteTask(i)">x</button>
                </td>
            </tr>

        </tbody>
    </table>



</form>