<form [formGroup]="form" (ngSubmit)="processForm()">
    <table>
        <tr>
            <td>Name: </td>
            <td>
                <input type="text" size="30" formControlName="name">
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="text" size="30" formControlName="email">
            </td>
        </tr>
        <tr>
            <td>Comments:</td>
            <td>
                <textarea type="text" row="4" cols="30" formControlName="comments"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <!-- <button type="submit">save</button> -->
                <ng-content></ng-content>
            </td>
        </tr>
    </table>
</form>